extends layout

block content
    h1 Profile
    p This is a protected page and should only be seen by authenticated users.
    p #{locals.testUser.uid}

    h3 LDAP User Object Output

    each value, index in locals.testUser
        p= index + ": " + value

